modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 24621
externalPort = 3000

[userenv]

[userenv.shared]
VITE_MEMWAL_ACCOUNT_ID = "0x444aa077450c7f6641e24601ecbc47160ccf70ef996edd7a88791a9f8b39698d"
VITE_MEMWAL_SERVER_URL = "https://relayer.memory.walrus.xyz"
VITE_MEMWAL_PRIVATE_KEY = "ab79969fb4758231ac0d761206bdba3d24f30fb66d66215697cc43196357f426"
VITE_MEMWAL_PUBKEY = "5a8c523a077a67a9e46eebce4edcb26688173a009e8ffdff470e3c892f127152"
VITE_GEMINI_API_KEY_2 = "AQ.Ab8RN6I2gMxu3sqPP4bQyZwiK8a_jEneTSbpdWq58DguV9E1mw"
